body{
    background-color: aqua;
}

.div1{
background-color: white;
float: left;
width: 120px;
height: 50px;
}
.div2{
    background-color: brown;
    float: right;
    width: 120px;
height: 50px;

}
.clear{
    clear: both;
}
.div3{
    background-color: blueviolet;
}